html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --blue-color: rgb(95, 95, 241);
  --blue-titles: rgb(86, 86, 231);
  --blue-sub: rgb(98, 98, 224);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
